# =========================
# FRONTEND
# =========================
node_modules/
dist/
build/
*.log

# =========================
# DJANGO / PYTHON
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
.env/
.env

# Django stuff
db.sqlite3
*.sqlite3

# =========================
# ENV / SEGURANÇA
# =========================
.env
.env.local
.env.development
.env.production

# =========================
# SISTEMA
# =========================
.DS_Store
Thumbs.db

# =========================
# IDE / EDITOR
# =========================
.vscode/
.idea/

# =========================
# TESTES / CACHE
# =========================
coverage/
.cache/
pytest_cache/

# =========================
# OUTROS
# =========================
*.tmp
*.bak